@use 'variaveis';
@use 'hero';

/* reset de estilos */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* configação de texto */

@mixin typography($size: 16px, $color: variaveis.$corTextoPrimaria) {
    font-size: $size;
    line-height: $size + 10px; 
    color: $color;
}

.title {
    @include typography(44px, variaveis.$corTextoPrimaria); 

    &__big   { @include typography(40px, variaveis.$corTextoPrimaria); }
    &__small { @include typography(28px, variaveis.$corTextoPrimaria); }
}

.text {
    @include typography(16px, variaveis.$corTextoSecundaria);

    &__big   { @include typography(18px, variaveis.$corTextoPrimaria); }
    &__small { @include typography(12px, variaveis.$corTextoSecundaria); }
}

.link-text {
    @include typography(18px, variaveis.$corTextoPrimaria);
}


body {
    background-color: variaveis.$corDeFundo;
    font-family: 'Arial', sans-serif;
    color: white;
}
